<%= render :partial => 'menu' %>

<div class="content"> 
  <h2>ゲームオーバー！</h2>
  <div>
    <%= @game.name %>さんのスコアは、<b><%= @game.score %>回</b> でした！<br/>
    <%= link_to 'もう一度やる！', :action => :index %>
  </div>
</div>

<%= render :partial => 'error_item' %>
