<%= render :partial => 'menu' %>

<div id="endPanel" class="panel">
  <br/>
  <%= @game.name %>さんのスコアは、<b><%= @game.score %>回</b> でした！<br/>
  <%= link_to 'もう一度やる！', :action => :index %> |
  <%= link_to 'ランキングを見る', :action => :ranking %>
</div>
<% javascript_tag do -%>
  var endPanel = new YAHOO.widget.Panel("endPanel",
    { close: true, width: "300px", height: "100px", fixedCenter: true, modal: true});
  endPanel.setHeader("ゲームオーバー！")
  endPanel.render();
<% end -%>

<div class="menu"> 
  <%= link_to '[管理用]', :controller => :items %>
</div>

