<h1>Last and First (Shiritori) by iKnow! API</h1>

<% unless @game -%>
  <% form_tag :action => :new do -%>
    お名前：<%= text_field_tag :first_word %>
    <%= submit_tag 'ゲームスタート！' %>
  <% end -%>
<% else -%>
  <div class="menu">
    <%= link_to 'ゲーム終了', :action => :destroy %> 
  </div>

  <div class="content"> 
  <% @game and @game.history.each do |i| -%>
    <%= i.spell %> [<%= i.kana %>]
    <%= " -> " unless @game.history.last == i %>
  <% end -%>
  </div>

  <% form_tag :action => :index do -%>
    <%= text_field_tag :first_word %>
    <%= submit_tag @submit_label || '送信！' %>
  <% end -%>

  <% if @failure_item -%>
    <div class="error">
      <%= flash[:notice] %><br/>
      <%= @failure_item.spell %>
      <%= "[#{@failure_item.kana}]" if @failure_item.kana %>
    </div>
  <% end -%>
<% end -%>
