<%= render :partial => 'menu' %>

<% unless @game -%>

  <center>
  <div id="loginPanel" class="panel">
    <%= "<br/>" * 5 %>
    <% form_tag :action => :new do -%>
      お名前：<%= text_field_tag :name, session[:name] %>
      <%= submit_tag 'ゲームスタート！' %>
    <% end -%>
    <% javascript_tag { %> $('name').focus(); <% } %>
    <%= "<br/>" * 5 %>
  </div>
  </center>

  <div class="menu"> 
    <%= link_to '[管理用]', :controller => :items %>
  </div>

<% else -%>

  <%= render :partial => "input_panel" %>

  <div id="message"></div>

  <div class="main upward" align="center">
  <table>
    <tr>
      <td>
        <div id="last_item_panel" class="panel"></div>
      </td>
      <td style="background-color: transparent;">
        <%= image_tag 'arrow-right.png' %>
      </td>
      <td>
        <div id="first_item_panel" class="panel"></div>
      </td>
    </tr>
  </table>
  </div>

  <div id="scoreboard" class="upward"></div>

  <div class="menu upward"> 
    <%= link_to 'おしまいにする', :action => :destroy, :method => :delete %>
  </div>

  <% javascript_tag do -%>
    <%= remote_function(:url => {:action => :try}) %>
  <% end -%>

<% end -%>

