<%= render :partial => 'menu' %>

<% unless @game -%>

  <div class="panel">
    <% form_tag :action => :new do -%>
      お名前：<%= text_field_tag :name %>
      <%= submit_tag 'ゲームスタート！' %>
    <% end -%>
    <% javascript_tag { %> $('name').focus(); <% } %>
  </div>

<% else -%>

  <div class="content"> 
    <b><%= @game.name %></b>さんの現在のスコア：<b><%= @game.history.size %>回</b>
    お手つき：<b><%= @game.failure_times %>回</b>
    <br/>
    <% @game and @game.history.map {|i| Item.find(i)}.each do |item| -%>
      <%= item.display_name %>
      <%= " -> " unless @game.history.last == item.id %>
    <% end -%>
  </div>

  <%= render :partial => "error_item" %>

  <center>
  <table>
    <tr>
      <td>
        <%= render :partial => "word_panel", :locals => {:item => @last_word_item} %>
      </td>
      <td style="background-color: transparent;">
        <%= image_tag 'arrow-right.png' %>
      </td>
      <% if @first_word_item -%>
      <td>
        <%= render :partial => "word_panel", :locals => {:item => @first_word_item} %>
      </td>
      <% end -%>
      <td>
        <div class="panel">
          「<%= @candidate_letters %>」で始まる意味を持つ英単語は？
          <% form_tag :action => :index do -%>
            <%= text_field_tag :first_word %>
            <%= submit_tag @submit_label || 'しりとり！' %>
          <% end -%>
          <% javascript_tag { %> $('first_word').focus(); <% } %>
        </div>
      </td>
    </tr>
  </table>
  </center>

  <div class="content"> 
    <%= link_to 'おしまいにする', :action => :destroy, :method => :delete %>
  </div>

<% end -%>

