<%= render :partial => 'menu' %>

<% unless @game -%>

  <div class="panel">
    <% form_tag :action => :new do -%>
      お名前：<%= text_field_tag :name %>
      <%= submit_tag 'ゲームスタート！' %>
    <% end -%>
    <% javascript_tag { %> $('name').focus(); <% } %>
  </div>

<% else -%>

  <div class="content"> 
    <%= @game.name %>さんの現在のスコア：<%= @game.history.size %>
    お手つき：<%= @game.failure_times %>
    <br/>
    <% @game and @game.history.each do |i| -%>
      <%= i.spell %> <%= "#{i.meaning}[#{i.kana}]" %>
      <%= " -> " unless @game.history.last == i %>
    <% end -%>
  </div>

  <% if @failure_item -%>
    <div class="error">
      <%= flash[:notice] %><br/>
      <%= @failure_item.spell %>
      <%= "[#{@failure_item.kana}]" if @failure_item.kana %>
    </div>
  <% end -%>

  <table>
    <tr>
      <td>
        <%= render :partial => "word_panel", :locals => {:item => @last_word_item} %>
      </td>
      <td>-></td>
      <% if @first_word_item -%>
      <td>
        <%= render :partial => "word_panel", :locals => {:item => @first_word_item} %>
      </td>
      <% end -%>
      <td>
        <div class="panel">
        <% form_tag :action => :index do -%>
          <%= text_field_tag :first_word %>
          <%= submit_tag @submit_label || 'しりとり！' %>
        <% end -%>
        <% javascript_tag { %> $('first_word').focus(); <% } %>
        </div>
      </td>
    </tr>
  </table>

  <div class="content"> 
    <%= link_to 'おしまいにする', :action => :destroy, :method => :delete %>
  </div>

<% end -%>

