<%= render :partial => 'menu' %>

<% unless @game -%>

  <%= render :partial => "login_panel" %>

  <div class="menu"> 
    <%= link_to '[管理用]', :controller => :items %>
  </div>

<% else -%>

  <%= render :partial => "input_panel" %>

  <div id="message"></div>

  <div class="main upward" align="center">
  <table>
    <tr>
      <td>
        <div id="last_item_panel" class="panel"></div>
      </td>
      <td style="background-color: transparent;">
        <%= image_tag 'arrow-right.png' %>
      </td>
      <td>
        <div id="first_item_panel" class="panel"></div>
      </td>
    </tr>
  </table>
  </div>

  <div id="scoreboard" class="upward"></div>

  <div class="menu upward"> 
    <%= link_to 'おしまいにする', :action => :destroy, :method => :delete %>
  </div>

  <!-- game over 用 -->
  <%= render :partial => "end_panel" %>

  <% javascript_tag do -%>
    function start_loading() {
      document.body.style.cursor = 'wait';
      $('input_loading').show();
    }
    function end_loading() {
      document.body.style.cursor = 'auto';
      $('input_loading').hide();
    }
    <%= remote_function(:url => {:action => :try},
                        :loading => "start_loading();",
                        :complete => "end_loading();") %>
  <% end -%>

<% end -%>

