<%= render :partial => 'menu' %>

<div class="content">
  <h2>ランキング</h2>
  <div>
  <% if @games.size > 0 -%>
    <% @games.each do |g| -%>
      <span style="font-size: <%= 500 / (@games.index(g) + 1) + 100 %>%">
        <%= @games.index(g) + 1 %>位. <%= g.score %>回 <%= g.name %>さん
      </span>
        [<%= g.created_at.localtime.strftime("%m/%d %H:%M") %>]<br/>
    <% end -%>
    <%= will_paginate(@games) %>
  <% else -%>
    １件もありません。
  <% end -%>
  </div>
</div>
