<%= render :partial => 'menu' %>

<div class="content">
  ゲームランキング
  |
  <%= link_to 'アイテムランキング', :controller => :items, :action => :ranking %>
  <h2>ゲームランキング</h2>
  <div style="margin: 0px 20px;">
  <% if @games.size > 0 -%>
    <% @games.each_with_index do |g, index| -%>
      <span style="font-size: <%= 500 / (@games.offset + index + 1) + 110 %>%">
        <%= @games.offset + index + 1 %>位. <%= g.score %>回 <%= g.name %>さん
      </span>
      [<%= g.created_at.localtime.strftime("%m/%d %H:%M") %>]<br/>
      <% if g.items.size > 0 -%>
      <div style="margin:0px 20px;border: solid 1px gray;">
        <%= "#{g.items.map {|i| iknow_item_link(i)}.join(image_tag 'arrow-right.png')}" %>
      </div>
      <% end -%>
    <% end -%>
    <%= will_paginate(@games) %>
  <% else -%>
    １件もありません。
  <% end -%>
  </div>
</div>

<div class="menu"><%= link_to '[管理用]', :controller => :items %></div>
