<%= render :partial => 'menu' %>

<div class="content">
  <%= render :partial => 'submenu' %>

  <h2>ゲームランキング(<%= display_order_type(@order) %>)</h2>
  <div style="margin: 0px 20px;">
  <% if @games.size > 0 -%>
    <% @games.each_with_index do |g, index| -%>
      <% if @order == 'score' -%>
        <span style="font-size: <%= 500 / (@games.offset + index + 1) + 110 %>%">
          <%= @games.offset + index + 1 %>位. <%= g.score %>回 <%= g.name %> さん
        </span>
        [<%= display_game_end_at(g) %>]<br/>
      <% else -%>
        <span style="font-size: 150%">
          <%= display_game_end_at(g) %> - <%= g.score %>回 <%= g.name %> さん
        </span><br/>
      <% end -%>
      <% cache(:controller => :ranking, :action => :game_history, :id => g.id) do -%>
        <%= render :partial => 'game_history', :locals => {:game => g} %>
      <% end -%>
    <% end -%>
    <%= will_paginate(@games, :prev_label => '<< 前へ', :next_label => '次へ >>') %>
  <% else -%>
    １件もありません。
  <% end -%>
  </div>
</div>

<div class="menu">
  <%= link_to '[管理用]', :controller => :items %>
</div>
