<%= render :partial => 'menu' %>

<div class="content">
  <%= render :partial => 'submenu' %>

  <div>
    アイテムランキングはしりとりゲームでその単語が入力された回数のランキングです。<br/>
    <% @all_kana_keys.each do |letter| -%>
      <%= link_to_letter(letter) %>
      <%= " | " unless @all_kana_keys.last == letter %>
    <% end -%>
    <br/>

    <div id="letter">
      <%= render :partial => 'letter' %>
    </div>
  </div>
</div>

<div class="menu">
  <%= link_to '[管理用]', :controller => :items, :action => :index %>
</div>
