<div class="menu">
  <%= link_to 'ゲームへ戻る', :controller => :game %>
  |
  <%= link_to 'アイテム一覧', :action => :index %>
</div>

<div class="content">
  このページは、iKnow!のアイテムに紐付いた、しりとり用内部アイテムの管理ページです。不適切なアイテムを削除したり、読み仮名がおかしいものを修正したりします。(Kakasiという日本語パーサを使っているので、その特性上、「美しい人」の読み仮名が「うつくしいにん」とかになったりします。。)<br/>
  おかしいアイテムについて修正していただくのはもちろん構いません。テキストボックスで修正してフォーカスが外れれば(tabとか押すと)修正が反映されます。とりあえず認証はかけていませんので、ご自由に修正してください。
  （ただし、修正結果はほかのひとのしりとり遊びに実際に読みが出てくることになりますので、ご注意を。そのうち認証かけると思います。）
</div>

<div class="content">
  <h2>アイテム管理<h2>
  <% form_tag :action => 'search' do -%>
    <%= text_field_tag :spell %>
    <%= submit_tag '検索' %>
  <% end -%>

  <% if @items.size > 0 -%>
    <%= will_paginate(@items) %>
    <table>
      <tr>
        <th>spell</th>
        <th>meaning</th>
        <th>kana</th>
        <th>iKnow! ID</th>
      </tr>
      <% @items.each do |@item| -%>
      <tr>
        <td><%= @item.spell %></td>
        <td><%= @item.meaning %></td>
        <% form_for :item do |f| -%> 
          <td>
            <%= f.text_field :kana, :id => "kana_#{@item.id}",
              :tabindex => @items.index(@item) + 1 %>
          </td>
          <%= observe_field "kana_#{@item.id}", :url => {:action => :update},
                            :on => :blur, :with => "'id=#{@item.id}&kana='+value" -%>
        <% end -%>
        <td><%= link_to @item.iknow_id, "http://api.iknow.co.jp/items/#{@item.iknow_id}?include_sentences=true" %></td>
      </tr>
      <% end -%>
    </table>
    <%= will_paginate(@items) %>
  <% else -%>
    １件もありません。
  <% end -%>
</div>

<div class="content">
  <%= render :partial => 'todo' %>
</div>
