<div class="menu">
  <%= link_to 'ゲームへ戻る', :controller => :game %>
</div>

<%= render :partial => 'todo' %>

<div>
  <% if @items.size > 0 -%>
    <%= link_to 'リセット', {:action => 'delete_all'}, :method => :delete %>
    <%= will_paginate(@items) %>
    <table>
      <tr>
        <th>spell</th>
        <th>meaning</th>
        <th>kana</th>
        <th>iKnow! ID</th>
    <% @items.each do |@item| -%>
      <tr>
        <td><%= @item.spell %></td>
        <td><%= @item.meaning %></td>
        <% form_for :item do |f| -%> 
          <td>
            <%= f.text_field :kana, :id => "kana_#{@item.id}",
              :tabindex => @items.index(@item) + 1 %>
          </td>
          <%= observe_field "kana_#{@item.id}", :url => {:action => :update},
                            :on => :blur, :with => "'id=#{@item.id}&kana='+value" -%>
        <% end -%>
        <td><%= link_to @item.iknow_id,
                        "http://api.iknow.co.jp/items/#{@item.iknow_id}?include_sentences=true" %></td>
      </tr>
    <% end -%>
    </table>
    <%= will_paginate(@items) %>
  <% else -%>
    １件もありません。
  <% end -%>
</div>
