<div class="menu">
  <%= link_to 'しりとりする！', :controller => :game %> |
  <%= link_to 'ランキング', :action => :ranking %> |
  <%= link_to '遊び方', :controller => :game, :action => :help %> |
  <%= link_to 'ライセンスなど', :controller => :game, :action => :license %>
</div>

<div class="content">
  <%= link_to 'ゲームランキング', :controller => :game, :action => :ranking %>
  |
  アイテムランキング
  <div>
    アイテムランキングはしりとりゲームでその単語が入力された回数のランキングです。<br/>
    <% @all_kana_keys.each do |kana_key| -%>
      <%= link_to_unless(kana_key == @kana_key, kana_key,
                         :action => :ranking, :kana_key => kana_key) %>
      <%= " | " unless @all_kana_keys.last == kana_key %>
    <% end -%>
    <br/>

    <h2><b>「<%= @kana_key %>」</b>で始まるアイテムのランキング</h2>
    <div class="indent">
      <% if @sorted_items.size > 0 -%>
        <% @sorted_items.each do |item| -%>
          <%= @item_counts[item] %>回.
          <%= iknow_item_link item %><br/>
        <% end -%>
      <% else -%>
        １件もありません。
      <% end -%>
    </div>
  </div>
</div>

<div class="menu"><%= link_to '[管理用]', :action => :index %></div>
