<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'bazooka' %>
    <%= stylesheet_link_tag 'defaults' %>
    <title>iKnow! しりとり (Last and First)</title>
  </head>
  <body>
    <h1>iKnow! しりとり (Last and First)</h1>

    <%= yield %>

    <div style="float: right; background-color: transparent;">
      <%= image_tag 'http://developer.iknow.co.jp/files/28819/powered_by_iknow_blue.png' %>
    </div>
  </body>
</html>

